<section class="application-review">
  <h1 class="application-review__headline">{{ 'pages.review.headline' | translate }}</h1>
  <p class="application-review__bodyCopy">{{ 'pages.review.bodyCopy' | translate }}</p>
  <section class="application-review__section application-review__section--account-section">
    <grit-wc-icon class="application-review__section-icon">account_circle</grit-wc-icon>
    <div>
      <h2 class="application-review__section-headline">
        {{ 'pages.review.sections.account.headline' | translate }}
      </h2>
      <span *ngIf="customer.firstName && customer.lastName"
            class="account-data__full-name">{{ customer.firstName }} {{ customer.lastName }}</span>
      <span *ngIf="customer.cellPhone"
            class="account-data__primary-phone">{{ customer.cellPhone }}</span>
      <span *ngIf="customer.emailAddress"
            class="account-data__email-address">{{ customer.emailAddress }}</span>
      <span *ngIf="customer.birthdate"
            class="account-data__date-of-birth">{{ customer.birthdate | date:'dd/LL/yyyy' }}</span>
      <span *ngIf="customer.last4Ssn"
            class="account-data__ssn">•••-••-{{ customer.last4Ssn }}</span>
    </div>
  </section>
  <section *ngIf="!isObjectEmpty(customer.address)"
           class="application-review__section application-review__section--address-section">
    <grit-wc-icon class="application-review__section-icon">home</grit-wc-icon>
    <div>
      <h2 class="application-review__section-headline">
        {{ 'pages.review.sections.address.headline' | translate }}
      </h2>
      <span *ngIf="customer.address.address1"
            class="application-data__street-address">{{ customer.address.address1 }}</span>
      <span *ngIf="customer.address.address2"
            class="application-data__secondary-address">{{ customer.address.address2 }}</span>
      <span>
        <span *ngIf="customer.address.city"
              class="application-data__city">{{ customer.address.city }}</span>,
        <span *ngIf="customer.address.state"
              class="application-data__state">{{ customer.address.state }} </span>
        <span *ngIf="customer.address.zip"
              class="application-data__zip">{{ customer.address.zip }}</span>
      </span>
    </div>
    <button class="application-review__section-updateLabel"
            (click)="updateInformation(routes.contactInfo)"
            [emitLinkClick]="{ eventLabel: 'update address' }">
      {{ 'commonContent.updateLabel' | translate }}
    </button>
  </section>
  <section *ngIf="!isObjectEmpty(customer.incomeSource)"
           class="application-review__section application-review__section--income-section">
    <grit-wc-icon class="application-review__section-icon">attach_money</grit-wc-icon>
    <div>
      <h2 class="application-review__section-headline">
        {{ 'pages.review.sections.income.headline' | translate }}
      </h2>
      <ul>
        <li *ngIf="customer.incomeSource.monthlyGrossIncome"
            class="application-data__monthly-income">
          {{ customer.incomeSource.monthlyGrossIncome | currency }}
          ({{ 'pages.review.sections.income.monthlyPaymentSuffix' | translate }})
        </li>
        <li *ngIf="customer.incomeSource.payFrequency"
            class="application-data__payment-frequency">
          {{ 'pages.review.sections.income.payFrequencyPrefix' | translate }} {{
          'pages.incomeInformation.form.paymentFrequency.options.' + customer.incomeSource.payFrequency | translate |
          lowercase }}
        </li>
        <li *ngIf="customer.incomeSource.lastPaymentDate"
            class="application-data__last-pay-date">
          {{ customer.incomeSource.lastPaymentDate | date:'MM/dd/yyyy' }} ({{
          'pages.review.sections.income.lastPayDaySuffix' | translate
          }})
        </li>
        <li *ngIf="customer.incomeSource.nextPaymentDate"
            class="application-data__next-pay-date">
          {{ customer.incomeSource.nextPaymentDate | date:'MM/dd/yyyy' }} ({{
          'pages.review.sections.income.nextPayDaySuffix' | translate
          }})
        </li>
      </ul>
    </div>
    <button class="application-review__section-updateLabel"
            (click)="updateInformation(routes.incomeInfo)"
            [emitLinkClick]="{ eventLabel: 'update income' }">
      {{ 'commonContent.updateLabel' | translate }}
    </button>
  </section>
  <section *ngIf="!isObjectEmpty(customer.bank)"
           class="application-review__section application-review__section--bank-section">
    <grit-wc-icon class="application-review__section-icon">account_balance</grit-wc-icon>
    <div>
      <h2 class="application-review__section-headline">
        {{ 'pages.review.sections.banking.headline' | translate }}
      </h2>
      <span *ngIf="customer.bank.routingNumber"
            class="application-review__routing-number">
        {{ 'pages.review.sections.banking.routingPrefix' | translate }}
        •••• {{ customer.bank.routingNumber | slice:-4 }}
      </span>
      <span *ngIf="customer.bank.accountNumber"
            class="application-review__bank-account-number">
        {{ 'pages.review.sections.banking.checkingAccountPrefix' | translate }}
        •••• {{ customer.bank.accountNumber | slice:-4 }}
      </span>
    </div>
    <button class="application-review__section-updateLabel"
            (click)="updateInformation(routes.bankInfo)"
            [emitLinkClick]="{ eventLabel: 'update bank' }">
      {{ 'commonContent.updateLabel' | translate }}
    </button>
  </section>
  <section *ngIf="!isObjectEmpty(card)"
           class="application-review__section application-review__section--credit-section">
    <grit-wc-icon class="application-review__section-icon">credit_card</grit-wc-icon>
    <div>
      <h2 class="application-review__section-headline">
        {{ 'pages.review.sections.credit.headline' | translate }}
      </h2>
      <span *ngIf="card.firstName && card.lastName"
            class="application-review__credit-card-name-on-card">{{ card.firstName }} {{ card.lastName }}</span>
      <span *ngIf="card.token"
            class="application-review__credit-card-number">•••• {{ card.token | slice:-4 }}</span>
      <span *ngIf="card.expirationDate"
            class="application-review__credit-card-expiration-date">{{ card.expirationDate }}
        ({{ 'pages.review.sections.credit.paymentCardExpirationSuffix' | translate }})
      </span>
    </div>
    <button class="application-review__section-updateLabel"
            (click)="updateInformation(routes.initialPayment)"
            [emitLinkClick]="{ eventLabel: 'update credit' }">
      {{ 'commonContent.updateLabel' | translate }}
    </button>
  </section>
  <section *ngIf="!isObjectEmpty(card)"
           class="application-review__section application-review__section--billing-address-section">
    <grit-wc-icon class="application-review__section-icon">place</grit-wc-icon>
    <div>
      <h2 class="application-review__section-headline">
        {{ 'pages.review.sections.billingAddress.headline' | translate }}
      </h2>
      <ng-container *ngIf="card">
        <span *ngIf="card.streetAddress1"
              class="application-data__billing-street-address">{{ card.streetAddress1 }}</span>
        <span *ngIf="card.streetAddress2"
              class="application-data__billing-secondary-address">{{ card.streetAddress2 }}</span>
        <span>
          <span *ngIf="card.city"
                class="application-data__city">{{ card.city }}</span>,
          <span *ngIf="card.state"
                class="application-data__state">{{ card.state }} </span>
          <span *ngIf="card.zip"
                class="application-data__zip">{{ card.zip }}</span>
        </span>
      </ng-container>
    </div>
    <button class="application-review__section-updateLabel"
            (click)="updateInformation(routes.initialPayment)"
            [emitLinkClick]="{ eventLabel: 'update address' }">
      {{ 'commonContent.updateLabel' | translate }}
    </button>
  </section>
  <button class="application-review__nextLabel"
          gritButton
          color="primary"
          (click)="onContinue()">
    {{ 'commonContent.nextLabel' | translate }}
  </button>
</section>