<div class="prefill" *ngIf="requestFillData">
  <h1 class="prefill__headline">{{ 'pages.prefill.heading' | translate }} </h1>
  <div class="prefill__bodyCopy">{{ 'pages.prefill.bodyCopy' | translate }}</div>
  <div class="prefill__form-controls">
    <form [formGroup]="prefillForm">
      <grit-field size="sm">
        <span gritLabel>
          {{ 'pages.prefill.form.lastFour.label' | translate }}
        </span>
        <input gritInput data-test-id="lastFour-input" id="lastFour-input" formControlName="lastFour"
               #lastFour="gritInput"
               autocomplete="false"
               inputmode="numeric">
        <grit-prefix-icons [iconDisplayOption]="1">
          <grit-icon gritPrefixIcon>security</grit-icon>
        </grit-prefix-icons>
        <grit-suffix-icons>
          <grit-icon gritSuffixIcon class="success"
                     [visible]="!lastFour.isFocused && lastFour.value && !lastFour.isError">
            done
          </grit-icon>
          <grit-icon gritSuffixIcon [visible]="lastFour.isError" class="error">warning</grit-icon>
        </grit-suffix-icons>
        <grit-subscript-messages>
          <span gritValidationErrorTracker gritError id="ssn-err-required"
                for="required">{{ 'pages.prefill.form.lastFour.error.required' | translate }}</span>
        </grit-subscript-messages>
      </grit-field>
    </form>
  </div>
  <button class="prefill__continueLabel"
          color="primary"
           [disabled]="!prefillForm.valid"
          (click)="onContinue()"
          gritButton>
          {{ 'pages.prefill.form.continue.label' | translate }}
   </button>
   <button class="prefill__cancelLabel"
          color="primary-light"
          gritButton>
    {{ 'pages.prefill.form.cancel.label' | translate }}
  </button>
</div>