@import '~@progleasing/grit-core/styles/variables';
@import './utilities';

$max-width: pixelToRem(375);
$min-height-header: pixelToRem(64);
$min-height-footer: pixelToRem(54);
$min-height: pixelToRem(665);

* {
  box-sizing: border-box;
}

body {
  background: $neutral100;
  margin: 0;

  &.lease-cost-estimator {
    background: $neutral300 ;
  }
}

a[href^="tel:"] {
  color: $neutral900;
  text-decoration: none;
}

.application-body {
  box-sizing: content-box;
  margin: $min-height-header auto 0 auto;
  min-height: calc(#{$min-height} - #{$min-height-header});
  width: $max-width;
}

.uae-heading {
  color: $neutral900;
  font-family: $primary-font;
  font-size: pixelToRem(21);
  font-weight: $font-weight-semibold;
  line-height: pixelToRem(25.6);
  letter-spacing: $common-letter-spacing;
}

.uae-body-copy {
  color: $neutral900;
  font-family: $secondary-font;
  font-size: pixelToRem(16);
  font-weight: $font-weight-regular;
  line-height: 1.5em;
  letter-spacing: $common-letter-spacing;
}

.pg-button {
  width: 100%;

  .grit-icon {
    height: pixelToRem(18);
  }
}