<header class="application-header">
  <div *ngIf="(layoutElements$ | async)?.hasHeaderBackButton"
       class="application-header__previous-control">
    <grit-icon (click)="previous()"
               [emitLinkClick]>arrow_back</grit-icon>
  </div>
  <div class="application-header__branding">
    <img alt="Progressive Leasing"
         src="assets/progressive-logo-small.svg"
         [emitLinkClick]
         (click)="onLogoClick()">
  </div>
  <div *ngIf="(layoutElements$ | async)?.hasHeaderExitButton"
       class="application-header__exit-control">
    <grit-icon (click)="exit()"
               [emitLinkClick]>close</grit-icon>
  </div>
</header>