<timeout-prompt class="timeout"
                *ngIf="(layoutElements$ | async)?.showTimeoutPrompt">
  <grit-wc-overlay-container class="timeout-modal"
                             type="modal"
                             [showOverlay]="true">
    <div class="timeout-modal__headline"
         slot="title"
         #timeoutPrompt>
      {{ 'modals.timeout.title' | translate }}
    </div>

    <div class="timeout-modal__bodyCopy"
         slot="content-container">
      {{ countdownText }}
    </div>
    <div class="timeout-modal__buttons"
         slot="footer">
      <grit-wc-button class="timeout-modal__button"
                      color="primary-light"
                      (click)="onInterruptIdle(true)">
        {{ 'modals.timeout.buttons.negativeLabel' | translate }}
      </grit-wc-button>
      <grit-wc-button class="timeout-modal__button"
                      color="primary"
                      (click)="onInterruptIdle(false)">
        {{ 'modals.timeout.buttons.affirmativeLabel' | translate }}
      </grit-wc-button>
    </div>
  </grit-wc-overlay-container>
</timeout-prompt>