<ua-apply-page-template [formGroup]="accountForm" [pageRoute]="pageRoute" (continue)="onContinue()">
  <h1 class="apply-page__heading">{{ 'pages.accountInformation.ciHeading' | translate }} </h1>
  <div class="apply-page__form-controls">
    <grit-field size="sm">
      <span gritLabel>
        {{ 'pages.accountInformation.form.email.label' | translate }}
      </span>
      <input gritInput data-test-id="email-input" id="email-input" formControlName="email"
             #email="gritInput" currencyFormat maxlength="100" autocomplete="off" trim="blur">
      <grit-prefix-icons [iconDisplayOption]="1">
        <grit-icon gritPrefixIcon>email</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon gritSuffixIcon class="success"
                   [visible]="!email.isFocused && email.value && !email.isError">
          done
        </grit-icon>
        <grit-icon gritSuffixIcon [visible]="email.isError" class="error">warning</grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritValidationErrorTracker gritError id="email-err-required"
              for="required">{{ 'pages.accountInformation.form.email.error.required' | translate }}</span>
        <span gritValidationErrorTracker gritError id="email-err-formatting"
              for="email">{{ 'pages.accountInformation.form.email.error.formatting' | translate }}</span>
      </grit-subscript-messages>
    </grit-field>

    <grit-field size="sm">
      <span gritLabel>
        {{ 'pages.accountInformation.form.phone.label' | translate }}
      </span>
      <input gritInput data-test-id="phone-input" id="phone-input" formControlName="phone"
             #phone="gritInput" type="tel"  [textMask]="{
                          mask: phoneTextMask,
                          placeholderChar: '\u2000',
                          guide: false}" readonly>
      <grit-prefix-icons [iconDisplayOption]="1">
        <grit-icon gritPrefixIcon>phone_android</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon gritSuffixIcon class="success"
                   [visible]="!phone.isFocused && phone.value && !phone.isError">
          done
        </grit-icon>
        <grit-icon gritSuffixIcon [visible]="phone.isError" class="error">warning</grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritValidationErrorTracker gritError id="phone-err-required"
              for="required">{{ 'pages.accountInformation.form.phone.error.required' | translate }}</span>
        <span gritValidationErrorTracker gritError id="phone-err-formatting"
              for="formatting">{{ 'pages.accountInformation.form.phone.error.formatting' | translate }}</span>
        <span gritValidationErrorTracker gritError id="phone-err-formatting"
              for="areaCode">{{ 'pages.accountInformation.form.phone.error.areaCode' | translate }}</span>

      </grit-subscript-messages>
    </grit-field>

    <grit-field size="sm">
      <span gritLabel>
        {{ 'pages.accountInformation.form.firstName.label' | translate }}
      </span>
      <input gritInput data-test-id="firstName-input" id="firstName-input" formControlName="firstName"
             #firstName="gritInput" currencyFormat maxlength="100" autocomplete="off" trim="blur">
      <grit-suffix-icons>
        <grit-icon gritSuffixIcon class="success"
                   [visible]="!firstName.isFocused && firstName.value && !firstName.isError">
          done
        </grit-icon>
        <grit-icon gritSuffixIcon [visible]="firstName.isError" class="error">warning</grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritValidationErrorTracker gritError id="firstName-err-required"
              for="required">{{ 'pages.accountInformation.form.firstName.error.required' | translate }}</span>
        <span gritValidationErrorTracker gritError id="firstName-err-formatting"
              for="nameFormat">{{ 'pages.accountInformation.form.firstName.error.formatting' | translate }}</span>
      </grit-subscript-messages>
    </grit-field>

    <grit-field size="sm">
      <span gritLabel>
        {{ 'pages.accountInformation.form.lastName.label' | translate }}
      </span>
      <input gritInput data-test-id="lastName-input" id="lastName-input" formControlName="lastName"
             #lastName="gritInput" currencyFormat maxlength="100" autocomplete="off" trim="blur">
      <grit-suffix-icons>
        <grit-icon gritSuffixIcon class="success"
                   [visible]="!lastName.isFocused && lastName.value && !lastName.isError">
          done
        </grit-icon>
        <grit-icon gritSuffixIcon [visible]="lastName.isError" class="error">warning</grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritValidationErrorTracker gritError id="lastName-err-required"
              for="required">{{ 'pages.accountInformation.form.lastName.error.required' | translate }}</span>
        <span gritValidationErrorTracker gritError id="lastName-err-formatting"
              for="nameFormat">{{ 'pages.accountInformation.form.lastName.error.formatting' | translate }}</span>
      </grit-subscript-messages>
    </grit-field>
    <h1 class="apply-page__heading">{{ 'pages.accountInformation.piHeading' | translate }} </h1>

    <grit-field size="sm">
      <span gritLabel>
        {{ 'pages.accountInformation.form.dob.label' | translate }}
      </span>
      <input gritInput data-test-id="dob-input" id="dob-input" formControlName="dob"
             #dob="gritInput" [textMask]="{
                                    mask: birthdateTextMask,
                                    placeholderChar: '\u2000',
                                    guide: false
                                }" type="tel">
      <grit-prefix-icons [iconDisplayOption]="1">
        <grit-icon gritPrefixIcon>cake</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon gritSuffixIcon class="success"
                   [visible]="!dob.isFocused && dob.value && !dob.isError">
          done
        </grit-icon>
        <grit-icon gritSuffixIcon [visible]="dob.isError" class="error">warning</grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritValidationErrorTracker gritError id="dob-err-required"
              for="required">{{ 'pages.accountInformation.form.dob.error.required' | translate }}</span>
        <span gritValidationErrorTracker gritError id="dob-err-formatting"
              for="formatting">{{ 'pages.accountInformation.form.dob.error.formatting' | translate }}</span>
        <span gritValidationErrorTracker gritError id="dob-err-formatting"
              for="minAge">{{ 'pages.accountInformation.form.dob.error.minimumAge' | translate }}</span>
        <span gritValidationErrorTracker gritError id="dob-err-formatting"
              for="maxAge">{{ 'pages.accountInformation.form.dob.error.maximumAge' | translate }}</span>


      </grit-subscript-messages>
    </grit-field>

    <grit-field size="sm">
      <span gritLabel>
        {{ 'pages.accountInformation.form.ssn.label' | translate }}
      </span>
      <input gritInput data-test-id="ssn-input" id="ssn-input" formControlName="ssn"
             #ssn="gritInput"  [textMask]="{
                      mask: ssnTextMask,
                      placeholderChar: '\u2000',
                      guide: false
                  }"
             autocomplete="false"
             [secure]="isMasked"
             inputmode="numeric">
      <grit-prefix-icons [iconDisplayOption]="1">
        <grit-icon gritPrefixIcon>security</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon id="ssn-icon-show" gritSuffixIcon [visible]="ssn.value && !isMasked"
                   (click)="onSsnMaskChanged(!isMasked)" class="clickable">
          visibility
        </grit-icon>
        <grit-icon id="ssn-icon-hide" gritSuffixIcon [visible]="ssn.value && isMasked"
                   (click)="onSsnMaskChanged(!isMasked)" class="clickable">visibility_off</grit-icon>

        <grit-icon gritSuffixIcon class="success"
                   [visible]="!ssn.isFocused && ssn.value && !ssn.isError">
          done
        </grit-icon>
        <grit-icon gritSuffixIcon [visible]="ssn.isError" class="error">warning</grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritValidationErrorTracker gritError id="ssn-err-required"
              for="required">{{ 'pages.accountInformation.form.ssn.error.required' | translate }}</span>
        <span gritValidationErrorTracker gritError id="ssn-err-formatting"
              for="formatting">{{ 'pages.accountInformation.form.ssn.error.formatting' | translate }}</span>
      </grit-subscript-messages>
    </grit-field>

    <form [formGroup]="accountForm">
    </form>
  </div>

</ua-apply-page-template>