<ua-apply-page-template [formGroup]="tocForm" [pageRoute]="pageRoute" (continue)="onContinue()">
  
    <h1 class="apply-page__heading">{{ 'pages.termsAndConditions.heading' | translate }} </h1>
    <div class="apply-page__form-controls">
      <form [formGroup]="tocForm">
        <grit-checkbox formControlName="tocAgree"> <span [innerHTML]="tocTranslation"></span>  </grit-checkbox>
        <grit-checkbox formControlName="marketingOptIn"> {{marketingTranslation }}</grit-checkbox>
      </form>
    </div>

</ua-apply-page-template>