@import '~src/shared/ui/src/lib/styleGuides/global';

.landing-page {
  padding: pixelToRem(32) pixelToRem(24) $min-height-footer pixelToRem(24);


  &__headline {
    @extend .uae-heading;
    line-height: pixelToRem(25.6);
    margin: 0 0 pixelToRem(16) 0;
  }

  &__beginApplicationLabel, &__beginPaymentEstimatorLabel {
    margin-bottom: pixelToRem(15);
  }

  &__bodyCopy {
    @extend .uae-body-copy;
    display: block;
    line-height: pixelToRem(24);
    margin: pixelToRem(16) 0 pixelToRem(32) 0;
  }

  &__terms {
    @extend .uae-body-copy;
    margin: pixelToRem(25.5) 0 pixelToRem(24) 0;
    padding-left: pixelToRem(16);
  }

  &__term {
    &:last-of-type {
      margin-bottom: 0;
    }

    margin: 0 0 pixelToRem(10.5) 0;
  }
}
