@import '~src/shared/ui/src/lib/styleGuides/global';
$lease-summary-border-color: #d3d5d6;

.lease-decision {
    padding: pixelToRem(32) pixelToRem(24);
    
    &__heading {
        @extend .uae-heading;
        margin: 0;
    }

    &__lease-summary {
        margin-top: pixelToRem(24);
    }

    &__expiration {
        @extend .uae-body-copy;
        display: block;
        font-size: pixelToRem(13);
        margin: -#{pixelToRem(16)} 0 pixelToRem(24) 0;
    }    
}

.lease-summary {
    @extend .uae-body-copy;
    border: solid 1px $lease-summary-border-color;
    border-radius: pixelToRem(4);
    border-top-width: pixelToRem(4);
    box-shadow: 0 pixelToRem(1) pixelToRem(3) 0 rgba(37, 45, 52, 0.2), 0 pixelToRem(1) pixelToRem(3) 0 rgba(37, 45, 52, 0.1);
    margin-bottom: pixelToRem(8);
    margin-left: -#{pixelToRem(8.8)};
    margin-right: -#{pixelToRem(8.8)};
    padding: 0 pixelToRem(16) pixelToRem(16) pixelToRem(16);
    position: relative;

    &__header {
        border-bottom: solid pixelToRem(1) $lease-summary-border-color;
        display: flex;
        align-items: center;
        margin: 0 -#{pixelToRem(16)} pixelToRem(16) -#{pixelToRem(16)};
        min-height: pixelToRem(52);
        padding: 0 pixelToRem(16);
    }

    &__lease-status {
        display: flex;
        flex: 1 1 auto;
        font-size: pixelToRem(16);
        font-weight: bold;
    }

    &__lease-id {
        display: flex;
        background-color: $neutral300 ;
        border-radius: pixelToRem(4);
        padding: pixelToRem(4) pixelToRem(8);

        strong {
            display: inline-block;
            margin-left: pixelToRem(4);
        }
    }

    &__heading {
        font-size: pixelToRem(16);
        margin-bottom: pixelToRem(16);
    }

    ::ng-deep &__body-copy {
        font-size: pixelToRem(13);
        
        p {
            font-size: pixelToRem(13);
            margin-bottom: pixelToRem(16);

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    ::ng-deep &__approval-amount {
        color: $green500;
    }

    &--decision-approved {
        border-top-color: $green500;
    }

    &--decision-declined {
        border-top-color: $yellow500;
    }

    &--decision-pending {
        border-top-color: $yellow500;
    }

    &--decision-pre-approved {
        border-top-color: $yellow500;
    }
    
    &--decision-in-process {
        border-top-color: $yellow500;
    }

    &--decision-error {
        border-top-color:  $red500;
    }

    &__merchant-address {
        margin-top: pixelToRem(24);
    }
}

.lease-expiration-notice {
    @extend .uae-body-copy;
    font-size: pixelToRem(13);
    line-height: pixelToRem(19.5);
    margin-bottom: pixelToRem(24);
}

.additional-instructions {
    &__heading {
        @extend .uae-heading;
        font-size: pixelToRem(18);
        margin: 0 0 pixelToRem(8) 0;
    }

    ::ng-deep &__body-copy {
        @extend .uae-body-copy;

        p {
            margin-bottom: pixelToRem(16);

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

.merchant-address {
    display: flex;
    
    &__icon {
        background: $blue100 ;
        border-radius: pixelToRem(100);
        color: $blue800 ;
        font-size: pixelToRem(18);
        height: pixelToRem(28);
        margin-right: pixelToRem(12);
        padding: pixelToRem(4) 0 0 pixelToRem(5);
        width: pixelToRem(28);
    }
    
    &__name {
        @extend .uae-heading;
        display: block;
        font-size: pixelToRem(13);
        font-weight: 700;
        line-height: pixelToRem(15.6);
        text-transform: capitalize;
    }
    
    &__street-address, &__secondary-address, &__locality {
        @extend .uae-body-copy;
        display: block;
        font-size: pixelToRem(13);
        line-height: pixelToRem(19.5);
    }
}