@import '~src/shared/ui/src/lib/styleGuides/global';

.localization {
    background-color: $neutral200;
    border-top: solid pixelToRem(1) $neutral400;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2147483647;
    
    &__bar {
        align-items: center;
        display: flex;
        height: $min-height-footer;
        margin: 0 auto;
        max-width: $max-width;
    }

    &__icon {
        color: $neutral600;
        margin-left: pixelToRem(32);
    }

    &__controls {
        @extend .uae-body-copy;
        color: $neutral900;
        list-style-type: none;
        display: inline-block;
    }

    &__control {
        cursor: pointer;
        display: inline-block;
        margin-left: pixelToRem(24);

        &--active {
            cursor: default;
            font-weight: $font-weight-semibold;
        }
    }

    .localization-modal {
        &__headline {
            @extend .uae-heading;
            font-size: pixelToRem(16);
        }
    
        &__bodyCopy {
            @extend .uae-body-copy;
            font-size: pixelToRem(16);
        }

        &__buttons {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        &__button {
            display: inline-block;
            margin-left: pixelToRem(9);
        }
    }
}

