<div class="terms-sheet">
  <h1 class="terms-sheet__heading">{{ 'pages.applicationTerms.heading' | translate }}</h1>
  <ul class="terms-sheet__terms">
    <li class="terms-sheet__term">
      {{ 'pages.applicationTerms.terms.accuracy' | translate }}
    </li>
    <li class="terms-sheet__term">
      {{ 'pages.applicationTerms.terms.obtainInfo' | translate }}
    </li>
    <li class="terms-sheet__term">
      {{ 'pages.applicationTerms.terms.shareInfo' | translate }}
    </li>
  </ul>
  <button class="terms-sheet__agreement-label"
          gritButton
          color="primary"
          (click)="onContinue()">
    {{ 'commonContent.nextLabel' | translate }}
  </button>
</div>