<div>
  <div class="apply-page">
    <ng-content></ng-content>
    <button class="apply-page__next-label"
            gritButton
            color="primary"
            (click)="onContinue()"
            [disabled]="!formGroup.valid"
            [loading]="loading">
      {{ (editMode ? 'commonContent.updateLabel' : 'commonContent.nextLabel') | translate }}
    </button>
  </div>
</div>