@import '~src/shared/ui/src/lib/styleGuides/global';

::ng-deep .apply-page {
  padding: pixelToRem(16);

  &__heading {
    @extend .uae-heading;
    margin: pixelToRem(8) 0;
  }

  &__body-copy {
    @extend .uae-body-copy;
    margin: 0;
  }

  &__form-controls {
    @extend .uae-body-copy;
    margin: pixelToRem(24) 0 0 0;

    ::ng-deep {
      fieldset {
        border: none;
        margin-top: 0;
        padding: 0;

        &:first-of-type {
          margin-top: 0;

          legend {
            border: none;
            padding-top: 0;
          }
        }

        legend {
          border-top: solid pixelToRem(1) $neutral400;
          color: $neutral900;
          display: block;
          font-size: pixelToRem(13);
          font-weight: $font-weight-semibold;
          margin-bottom: pixelToRem(16);
          padding-top: pixelToRem(24);
          width: 100%;
        }
      }

      .grit-check-box, .pg-check-box {
        margin-bottom: pixelToRem(24);
      }

      .grit-wc-select-wrapper {
        display: inline-block;
        margin-bottom: pixelToRem(24);
        width: 100%;

        select {
          option[value=""] {
            display: none;
          }
        }
      }

      .select-hint {
        color: $neutral800;
        display: none;
        font-family: $secondary-font;
        font-size: pixelToRem(13);
        font-weight: $font-weight-regular;
        letter-spacing: pixelToRem(1);
        line-height: pixelToRem(18);
        margin-top: -#{pixelToRem(16)};
        padding-bottom: pixelToRem(24);

        &.had-focus {
          display: inline-block;
        }

        &.focused {
          color: $blue500;
        }
      }

      .pg-field {
        .pg-field-subscript-container {
          margin: pixelToRem(2);
        }

        &.should-label-float, &.is-complete, &.is-focused {
          .pg-subscript-messages {
            .grit-hint, .grit-error {
              padding-bottom: pixelToRem(10);
              transition: padding $transition-duration-short $transition-curve-acceleration;
            }
          }
        }

        &.is-complete, &.is-hovered:not(.is-error) {
          .pg-suffix-icon {
            &.success {
              color: $green500;
            }
          }
        }

        &.is-error {
          .pg-suffix-icon.error {
            color: $red500;
          }
        }
      }
    }
  }

  &__next-label {
    &.is-disabled {
      .grit-icon {
        color: $blue300;
      }
    }

    .grit-icon {
      font-weight: normal;
      margin-right: pixelToRem(8);
    }
  }

  &__security-affirmation {
    @extend .uae-body-copy;
    align-items: center;
    color: $neutral700;
    display: flex;
    font-size: pixelToRem(13);
    justify-content: center;
    margin-top: pixelToRem(24);

    .grit-icon {
      color: $neutral700;
      margin-right: pixelToRem(8);
    }
  }
}