<ua-apply-page-template [formGroup]="bankInfoForm"
                        [pageRoute]="pageRoute"
                        (continue)="onContinue()">
  <h1 class="apply-page__heading">{{ 'pages.bankAccountInformation.heading' | translate }} </h1>
  <div class="apply-page__body-copy">{{ 'pages.bankAccountInformation.bodyCopy' | translate }}</div>
  <div class="apply-page__form-controls">
    <form [formGroup]="bankInfoForm">
      <div class="row">
        <div class="col-sm-12">
          <grit-field size="sm">
            <span gritLabel>
              {{ 'pages.bankAccountInformation.form.bankRoutingNumber.label' | translate }}
            </span>
            <input gritInput
                   id="input-routing-number"
                   #bankRoutingNumber="gritInput"
                   formControlName="bankRoutingNumber"
                   (keypress)="disallowNonDigitInput($event)"
                   maxlength="9"
                   pattern="[0-9]*"
                   inputmode="numeric">
            <grit-prefix-icons [iconDisplayOption]="1">
              <grit-icon gritPrefixIcon>account_balance</grit-icon>
            </grit-prefix-icons>
            <grit-suffix-icons>
              <grit-icon gritSuffixIcon
                         id="input-routing-number-icon-checkmark"
                         class="fg-green500"
                         [visible]="
              !bankRoutingNumber.isFocused &&
              bankRoutingNumber.value &&
              !bankRoutingNumber.isError
            ">
                done
              </grit-icon>
              <grit-icon gritSuffixIcon
                         id="input-routing-number-icon-error"
                         class="fg-red500"
                         [visible]="bankRoutingNumber.isError">warning</grit-icon>
            </grit-suffix-icons>
            <grit-subscript-messages>
              <span gritHint
                    id="input-routing-number-hint">
                {{ 'pages.bankAccountInformation.form.bankRoutingNumber.hint' | translate}}
              </span>
              <span gritValidationErrorTracker
                    gritError
                    id="input-routing-number-err-required"
                    for="required">{{ 'pages.bankAccountInformation.form.bankRoutingNumber.error.required' | translate
                }}</span>
              <span gritValidationErrorTracker
                    gritError
                    id="input-routing-number-err-length"
                    for="lengthRequirement">{{ 'pages.bankAccountInformation.form.bankRoutingNumber.error.formatting' |
                translate }}</span>
              <span gritValidationErrorTracker
                    gritError
                    id="input-routing-number-err-invalid"
                    for="invalidRoutingNumber">{{ 'pages.bankAccountInformation.form.bankRoutingNumber.error.invalid' |
                translate }}</span>
            </grit-subscript-messages>
          </grit-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <grit-field size="sm">
            <span gritLabel>
              {{ 'pages.bankAccountInformation.form.bankAccountNumber.label' | translate }}
            </span>
            <input gritInput
                   id="input-account-number"
                   #bankAccountNumber="gritInput"
                   formControlName="bankAccountNumber"
                   (keypress)="disallowNonDigitInput($event)"
                   maxlength="17"
                   autocomplete="aus"
                   [secure]="isMasked"
                   pattern="[0-9]*"
                   inputmode="numeric">
            <grit-prefix-icons [iconDisplayOption]="1">
              <grit-icon gritPrefixIcon>security</grit-icon>
            </grit-prefix-icons>
            <grit-suffix-icons>
              <grit-icon gritSuffixIcon
                         id="input-account-number-icon-checkmark"
                         class="fg-green500"
                         [visible]="bankAccountNumber.value && !bankAccountNumber.isError">done</grit-icon>
              <grit-icon gritSuffixIcon
                         id="input-account-number-icon-error"
                         class="fg-red500"
                         [visible]="bankAccountNumber.isError">warning</grit-icon>
              <grit-icon gritSuffixIcon
                         id="input-account-number-icon-show"
                         style="pointer-events: all;"
                         [visible]="bankAccountNumber.value && !isMasked"
                         (click)="onMaskChanged(!isMasked)"
                         class="clickable">
                visibility
              </grit-icon>
              <grit-icon gritSuffixIcon
                         id="input-account-number-icon-hide"
                         style="pointer-events: all;"
                         [visible]="bankAccountNumber.value && isMasked"
                         (click)="onMaskChanged(!isMasked)"
                         class="clickable">
                visibility_off
              </grit-icon>
            </grit-suffix-icons>
            <grit-subscript-messages>
              <span gritHint
                    id="input-account-number-hint">
                {{ 'pages.bankAccountInformation.form.bankAccountNumber.hint' | translate }}
              </span>
              <span gritValidationErrorTracker
                    gritError
                    id="input-account-number-err-required"
                    for="required">
                {{ 'pages.bankAccountInformation.form.bankAccountNumber.error.required' | translate }}
              </span>
              <span gritValidationErrorTracker
                    gritError
                    id="input-account-number-err-invalid"
                    for="pattern">
                {{ 'pages.bankAccountInformation.form.bankAccountNumber.error.formatting' | translate }}
              </span>
            </grit-subscript-messages>
          </grit-field>
        </div>
      </div>
    </form>
  </div>
</ua-apply-page-template>