@import '~src/shared/ui/src/lib/styleGuides/global';

.lease-cost-estimator {
    margin-top: -#{pixelToRem(16)};
    
    ::ng-deep .pt-payment-range {
        margin: pixelToRem(32) -#{pixelToRem(16)};
    }
}