<ua-apply-page-template [formGroup]="contactInfoFormGroup" [pageRoute]="pageRoute" (continue)="onContinue()">
  <h1 class="apply-page__heading">{{ 'pages.homeAddress.heading' | translate }} </h1>
  <div class="apply-page__body-copy">{{ 'pages.homeAddress.bodyCopy' | translate }}</div>
  <div class="apply-page__form-controls">

    <form [formGroup]="contactInfoFormGroup">
      <ng-container>
        <div class="row">
          <div class="col-sm-12">
            <grit-field size="sm">
              <span gritLabel>
                {{ 'pages.homeAddress.form.address1.label' | translate }}
              </span>
              <input gritInput data-test-id="street1-input" id="street1-input" formControlName="street1"
                     #street1="gritInput" currencyFormat maxlength="100" autocomplete="off" trim="blur">
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon class="success"
                           [visible]="!street1.isFocused && street1.value && !street1.isError">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon [visible]="street1.isError" class="error">warning</grit-icon>
              </grit-suffix-icons>
              <grit-subscript-messages>
                <span gritValidationErrorTracker gritError id="street1-err-required"
                      for="required">{{ 'pages.homeAddress.form.address1.error.required' | translate }}</span>
                <span gritValidationErrorTracker gritError id="street1-err-formatting"
                      for="formatting">{{ 'pages.homeAddress.form.address1.error.formatting' | translate }}</span>
                <span gritValidationErrorTracker gritError id="street1-err-poBox"
                      for="poBox">{{ 'pages.homeAddress.form.address1.error.poBox' | translate }}</span>
                <span gritValidationErrorTracker gritError id="street1-err-mustNotBeginWith"
                      for="spaceFormat">{{ 'pages.homeAddress.form.address1.error.mustNotBeginWith' | translate }}</span>
              </grit-subscript-messages>
            </grit-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <grit-field size="sm">
              <span gritLabel>
                {{ 'pages.homeAddress.form.address2.label' | translate }}
              </span>
              <input gritInput data-test-id="street2-input" id="street2-input" formControlName="street2"
                     #street2="gritInput" currencyFormat autocomplete="off" trim="blur">
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon class="success"
                           [visible]="!street2.isFocused && street2.value && !street2.isError">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon [visible]="street2.isError" class="error">warning</grit-icon>
              </grit-suffix-icons>
              <grit-subscript-messages>
                <span gritValidationErrorTracker gritError id="street2-err-poBox"
                      for="poBox">{{ 'pages.homeAddress.form.address2.error.poBox' | translate }}</span>
                <span gritValidationErrorTracker gritError id="street2-err-formatting"
                      for="formatting">{{ 'pages.homeAddress.form.address2.error.formatting' | translate }}</span>
                <span gritValidationErrorTracker gritError id="street2-err-mustNotBeginWith"
                      for="spaceFormat">{{ 'pages.homeAddress.form.address2.error.mustNotBeginWith' | translate }}</span>
              </grit-subscript-messages>
            </grit-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <grit-field size="sm">
              <span gritLabel>
                {{ 'pages.homeAddress.form.city.label' | translate }}
              </span>
              <input gritInput data-test-id="city-input" id="city-input" formControlName="city" #city="gritInput"
                     currencyFormat maxlength="100" autocomplete="off" trim="blur">
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon class="success" [visible]="!city.isFocused && city.value && !city.isError">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon [visible]="city.isError" class="error">warning</grit-icon>
              </grit-suffix-icons>
              <grit-subscript-messages>
                <span gritValidationErrorTracker gritError id="city-err-required"
                      for="required">{{ 'pages.homeAddress.form.city.error.required' | translate }}</span>
                <span gritValidationErrorTracker gritError id="city-err-formatting"
                      for="specialChar">{{ 'pages.homeAddress.form.city.error.formatting' | translate }}</span>
                <span gritValidationErrorTracker gritError id="city-err-numbers"
                      for="number">{{ 'pages.homeAddress.form.city.error.numbers' | translate }}</span>
                <span gritValidationErrorTracker gritError id="city-err-mustNotBeginWith"
                      for="spaceFormat">{{ 'pages.homeAddress.form.city.error.mustNotBeginWith' | translate }}</span>
              </grit-subscript-messages>
            </grit-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <grit-field size="sm">
              <span gritLabel>
                {{ 'pages.homeAddress.form.state.label' | translate }}
              </span>
              <input gritInput data-test-id="state-input" id="state-input" formControlName="state" #state="gritInput">
              <grit-field-bottom-border-gap>
                <grit-drop-down #stateComponent>
                  <span gritDropDownItem *ngFor="let state of stateOptions" value="{{ state.value }}"
                        id="{{ state.value }}" [searchableTerms]="state.searchTerms">
                    {{ state.display }}
                  </span>
                </grit-drop-down>
              </grit-field-bottom-border-gap>
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon class="success" [visible]="!state.isFocused && state.value && !state.isError">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon [visible]="state.isError" class="error">warning</grit-icon>
              </grit-suffix-icons>
              <grit-subscript-messages>
                <span gritValidationErrorTracker gritError id="state-err-required"
                      for="required">{{ 'pages.homeAddress.form.state.error.required' | translate }}</span>
                <span gritValidationErrorTracker gritError id="state-err-unavailable" for="leasingUnavailable">
                  {{ 'pages.homeAddress.form.state.error.leasingUnavailable' | translate }}
                </span>
                <span gritValidationErrorTracker gritError id="state-err-shippingUnavailable" for="shippingUnavailable">
                  {{ 'pages.homeAddress.form.state.error.shippingUnavailable' | translate }}
                </span>
                <span gritValidationErrorTracker gritError id="state-err-mustNotBeginWith"
                      for="spaceFormat">{{ 'pages.homeAddress.form.state.error.mustNotBeginWith' | translate }}</span>
                <span gritValidationErrorTracker gritError id="state-err-invalid"
                      for="selection">{{ 'pages.homeAddress.form.state.error.invalid' | translate }}</span>
              </grit-subscript-messages>
            </grit-field>
          </div>
          <div class="col-sm-6">
            <grit-field size="sm">
              <span gritLabel>
                {{ 'pages.homeAddress.form.zip.label' | translate }}
              </span>
              <input gritInput data-test-id="zip-input" id="zip-input" formControlName="zip" #zip="gritInput"
                     currencyFormat maxlength="10" autocomplete="off" pattern="[0-9-]*" inputmode="numeric">
              <grit-suffix-icons>
                <grit-icon gritSuffixIcon class="success" [visible]="!zip.isFocused && zip.value && !zip.isError">
                  done
                </grit-icon>
                <grit-icon gritSuffixIcon [visible]="zip.isError" class="error">warning</grit-icon>
              </grit-suffix-icons>
              <grit-subscript-messages>
                <span gritValidationErrorTracker gritError id="zip-err-required"
                      for="required">{{ 'pages.homeAddress.form.zip.error.required' | translate }}</span>
                <span gritValidationErrorTracker gritError id="zip-err-formatting"
                      for="sixToEightDigits">{{ 'pages.homeAddress.form.zip.error.formatting' | translate }}</span>
                <span gritValidationErrorTracker gritError id="zip-err-unavailable"
                      for="zipStateMismatch">
                  {{ getZipStateMismatchError(('pages.homeAddress.form.zip.error.invalid' | translate)) }}
                </span>
              </grit-subscript-messages>
            </grit-field>
          </div>
        </div>
      </ng-container>
    </form>
    </div>
</ua-apply-page-template>
